---
const { idname, idimg  } = Astro.props;
---

<div id={idname? idname: null} class="wrap item"><img id={idimg? idimg: null} class="itemGrid" src="" alt=""></div>

<!-- <script define:vars={{idname}}> -->
<script >
// Lista de imágenes en la carpeta 'images'
const images = [
  '../assets/imgGrid/grid0.webp',
  '../assets/imgGrid/grid1.webp',
  '../assets/imgGrid/grid2.webp',
  '../assets/imgGrid/grid3.webp',
  '../assets/imgGrid/grid4.webp',
  '../assets/imgGrid/grid5.webp',
  '../assets/imgGrid/grid6.webp',
  '../assets/imgGrid/grid7.webp',
  '../assets/imgGrid/grid8.webp',
  '../assets/imgGrid/grid9.webp',
  '../assets/imgGrid/grid10.webp',
  '../assets/imgGrid/grid11.webp',
  '../assets/imgGrid/grid12.webp',
  '../assets/imgGrid/grid13.webp',
  '../assets/imgGrid/grid14.webp',
  '../assets/imgGrid/grid15.webp',
  '../assets/imgGrid/grid16.webp',
  '../assets/imgGrid/grid17.webp',
  '../assets/imgGrid/grid18.webp',
  '../assets/imgGrid/grid19.webp',
  '../assets/imgGrid/grid20.webp',
  '../assets/imgGrid/grid21.webp',
  '../assets/imgGrid/grid22.webp',
  '../assets/imgGrid/grid23.webp',
  '../assets/imgGrid/grid24.webp',
  '../assets/imgGrid/grid25.webp',
  '../assets/imgGrid/grid26.webp',
  '../assets/imgGrid/grid27.webp',
  '../assets/imgGrid/grid28.webp',
  '../assets/imgGrid/grid29.webp',
  '../assets/imgGrid/grid30.webp',
  '../assets/imgGrid/grid31.webp',
  '../assets/imgGrid/grid32.webp',
  '../assets/imgGrid/grid33.webp',
  '../assets/imgGrid/grid34.webp',
  '../assets/imgGrid/grid35.webp',
    // Añade más imágenes según sea necesario
];

function getRandomImage() {
    const randomIndex = Math.floor(Math.random() * images.length);
    return images[randomIndex];
}

function getRandomInterval(min, max) {
    return Math.floor(Math.random() * (max - min + 1)) + min;
}

function showRandomImage() {
    // const imgElement = document.getElementById(idname);
    const imgElement = document.querySelectorAll("div.item");

    // Asegúrate de que 'item' tenga un contenido IMG
    for (let i = 0; i < imgElement.length; i++) {
      let item = imgElement[i];
      if (!item.querySelector('img')) {
          const img = document.createElement('img');
          item.appendChild(img);
      }
        const img = item.querySelector('img');
        const randomImage = getRandomImage();
        const randomInterval = getRandomInterval(300, 1500);
        img.classList.remove('show');  // Quitar clase para reiniciar la transición
      setTimeout(() => {
          img.src = randomImage;
          img.classList.add('show');  // Añadir clase para iniciar la transición
      }, randomInterval);  // Dar tiempo para reiniciar la transición
    }

    // const randomInterval = getRandomInterval(2500, 3000);
    setTimeout(showRandomImage, 3000);
}

// Iniciar el proceso de mostrar imágenes aleatorias
document.addEventListener('DOMContentLoaded', showRandomImage, false);

function changeBackgroundImage() {
    const wrap = document.querySelectorAll('.wrap');
    const randomIndex = Math.floor(Math.random() * images.length);
    for (let i = 0; i < wrap.length; i++) {
    let item = wrap[i];
    item.style.backgroundImage = `url(${images[randomIndex]})`;
          }
        }

// Cambiar la imagen de fondo al cargar la página
changeBackgroundImage();

// Cambiar la imagen de fondo cada cierto tiempo (ejemplo: cada 5 segundos)
setInterval(changeBackgroundImage, 3000);

document.addEventListener('DOMContentLoaded', changeBackgroundImage, false);
</script>

<style>
.item img {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}
.item img.show {
    opacity: 1;
}
.wrap {
  position: relative;
  width: 100%;
  height: 14.5vh;
  max-width: 130px;
  min-height: 120px;
  border: 2px solid rgb(103, 106, 109);
  overflow: hidden;
  animation: backgroundAnimation 5s infinite;
  background-image: url('../assets/imgGrid/grid1.webp');
  background-position: center;
  background-origin: border-box;
  background-attachment: fixed;
  transition: opacity 1.5s;
}

/* @keyframes backgroundAnimation { */
/*   0% { background-color: #c6d2e2; } */
/*   25% { background-color: #dde3db; } */
/*   50% { background-color: #F5E8DD; } */
/*   75% { background-color: #ffe5eb; } */
/* 100% { background-color: #f8dfcc; } */
/* } */

.itemGrid{
    height: 100%;
    object-fit: cover;
    transform: scale(4.0);
    animation-name: items;
    animation-duration: 1.2s;
    animation-timing-function: ease-in;
    transition: opacity 1.5s;
    filter: sepia(40%) grayscale(80%) ;
}

.itemGrid:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: sepia(0%) grayscale(0%) ;
    transition: filter 0.8s;
}

@keyframes items {
  0% {
    opacity: 0;
  } 100% {
    opacity: 1;
  }
}

#img {
  margin: 50px 0px 15px 0px;
}
#img1 {
  margin: 0px -70px 0px -50px;
}
#img2 {
  margin: -13px 0px 80px 0px;
}
#img3 {
  margin: 20px 0px 0px 80px;
}
#img4 {
  margin: 0px 50px 100px 0px;
}
#img5 {
  margin: 100px 0px 50px 0px;
}
#img6 {
  margin: 30px 0px 100px 0px;
}
#img7 {
  margin: 50px 30px 10px 7px;
}
#img8 {
  margin: 0px -100px -10px 20px;
}
#img9 {
  margin: 50px 45px -10px 0px;
}
#img10 {
  margin: 6px 45px 0px -70px;
}

</style>
