---

---

<div class="textGrid"><p>Test Test1 TEst2</p></div>


<style>
.textGrid{
  min-width: 120px;
  width: auto;
  height: 100%;
  opacity: 0%;
  filter: blur(0px);
}
.textGrid:hover{
  opacity: 100%;
  filter: blur(1px);
}
.textGrid p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
</style>
