---
const { grado, inst, fecha, lugar } = Astro.props;
---

<div>
<svg
   class="scaling-svg"
   width="46.439594mm"
   height="27.829964mm"
   viewBox="0 0 47.439594 27.829963"
   version="1.1"
   id="svg1"
   xml:space="preserve"
   xmlns="http://www.w3.org/2000/svg">
   <defs
     id="defs1" /><g
     id="layer1"><circle
       style="fill:none;fill-opacity:1;stroke:#4350ff;stroke-width:0.529167;stroke-linecap:round;stroke-dasharray:none;stroke-opacity:1"
       id="path1"
       cx="1.2961315"
       cy="1.110211"
       r="0.8449201" /><path
       style="fill:#4350ff;fill-opacity:1;stroke:#4350ff;stroke-width:0.644316;stroke-linecap:butt;stroke-dasharray:none;stroke-opacity:1"
       d="M 1.2961315,1.9608085 V 27.829964"
       id="path2" /><text
       xml:space="preserve"
       style="font-style:italic;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.23333px;line-height:0.9;font-family:'IBM Plex Sans';-inkscape-font-specification:'IBM Plex Sans, Italic';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-color:#000000;letter-spacing:0px;word-spacing:0px;text-orientation:upright;fill:--color-text-base;fill-opacity:1;stroke:none;stroke-width:0.98042;stroke-linecap:butt;stroke-dasharray:none;stroke-opacity:1"
       x="7.5948648"
       y="8.6333513"
       id="text2"><tspan
         id="tspan2"
         style="font-style:italic;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:4.23333px;font-family:'IBM Plex Sans';-inkscape-font-specification:'IBM Plex Sans, Italic';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:--color-text-base;fill-opacity:1;stroke:none;stroke-width:0.98042"
         x="7.5948648"
          y="8.6333513">{ grado }</tspan></text><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;line-height:0.9;font-family:'IBM Plex Sans';-inkscape-font-specification:'IBM Plex Sans, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-color:#000000;letter-spacing:0px;word-spacing:0px;text-orientation:upright;fill:--color-text-base;fill-opacity:1;stroke:none;stroke-width:0.98042;stroke-linecap:butt;stroke-dasharray:none;stroke-opacity:1"
       x="12.986017"
       y="16.036657"
       id="text3"><tspan
         id="tspan3"
         style="font-style:normal;font-variant:normal;font-weight:bold;font-stretch:normal;font-size:3.175px;font-family:'IBM Plex Sans';-inkscape-font-specification:'IBM Plex Sans, Bold';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:--color-text-base;fill-opacity:1;stroke:none;stroke-width:0.98042"
         x="12.986017"
          y="16.036657">{ inst }</tspan></text><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;line-height:0.9;font-family:'IBM Plex Sans';-inkscape-font-specification:'IBM Plex Sans, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-color:#000000;letter-spacing:0px;word-spacing:0px;text-orientation:upright;fill:--color-text-base;fill-opacity:1;stroke:none;stroke-width:0.98042;stroke-linecap:butt;stroke-dasharray:none;stroke-opacity:1"
       x="11.737064"
       y="23.427263"
       id="text4"><tspan
         id="tspan4"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:3.175px;font-family:'IBM Plex Sans';-inkscape-font-specification:'IBM Plex Sans, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:--color-text-base;fill-opacity:1;stroke:none;stroke-width:0.98042"
         x="11.737064"
          y="23.427263">{ lugar }</tspan></text><text
       xml:space="preserve"
       style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.46944px;line-height:0.9;font-family:'IBM Plex Sans';-inkscape-font-specification:'IBM Plex Sans, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;text-decoration-color:#000000;letter-spacing:0px;word-spacing:0px;text-orientation:upright;fill:#8b8c9c;fill-opacity:1;stroke:none;stroke-width:0.98042;stroke-linecap:butt;stroke-dasharray:none;stroke-opacity:1"
       x="4.0515647"
       y="1.9311752"
       id="text1"><tspan
         id="tspan1"
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.46944px;font-family:'IBM Plex Sans';-inkscape-font-specification:'IBM Plex Sans, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#8b8c9c;fill-opacity:1;stroke:none;stroke-width:0.98042"
         x="4.0515647"
          y="1.9311752">{ fecha }</tspan><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.46944px;font-family:'IBM Plex Sans';-inkscape-font-specification:'IBM Plex Sans, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#8b8c9c;fill-opacity:1;stroke:none;stroke-width:0.98042"
         x="4.0515647"
         y="4.1536713"
         id="tspan5" /><tspan
         style="font-style:normal;font-variant:normal;font-weight:normal;font-stretch:normal;font-size:2.46944px;font-family:'IBM Plex Sans';-inkscape-font-specification:'IBM Plex Sans, Normal';font-variant-ligatures:normal;font-variant-caps:normal;font-variant-numeric:normal;font-variant-east-asian:normal;fill:#8b8c9c;fill-opacity:1;stroke:none;stroke-width:0.98042"
         x="4.0515647"
         y="6.3761673"
         id="tspan6" /></text><path
       d="m 9.5665397,22.490638 a 0.39687504,0.39687504 0 0 1 -0.396875,-0.396875 0.39687504,0.39687504 0 0 1 0.396875,-0.396875 0.39687504,0.39687504 0 0 1 0.396875,0.396875 0.39687504,0.39687504 0 0 1 -0.396875,0.396875 m 0,-1.508125 a 1.1112501,1.1112501 0 0 0 -1.11125,1.11125 c 0,0.833437 1.11125,2.06375 1.11125,2.06375 0,0 1.1112503,-1.230313 1.1112503,-2.06375 a 1.1112501,1.1112501 0 0 0 -1.1112503,-1.11125 z"
       id="path1-9"
       style="fill:--color-text-base;fill-opacity:1;stroke-width:0.15875" /><path
       d="m 9.5665392,13.293458 -1.940277,1.058333 1.940277,1.058334 1.5874998,-0.86607 v 1.218848 h 0.352778 v -1.411112 m -3.1749998,0.737306 v 0.705556 l 1.234722,0.673805 1.2347218,-0.673805 v -0.705556 l -1.2347218,0.673806 z"
       id="path1-2"
        style="fill:--color-text-base;fill-opacity:1;stroke-width:0.176389" /></g>
  </svg>
</div>


<style>
.scaling-svg {
   position: relative; 
   height: 100%; 
   width: 100%; 
   max-width: 210px;
   left: 0; 
   top: 0;
}
</style>
